.note-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    height: 80vh;
}

.notes {
    margin-inline: 1rem;
    padding-inline: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}



.note-item {
    box-shadow: var(--light-box-shadow);
    border-radius: 5px;
}

.note-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    padding-inline: 1rem;
    line-height: 2rem;
    padding-block: 0.5rem;
    margin-block-start: 1rem;
}

.icons {
    width: 5rem;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.fa-trash-can {
    color: #fe3434;
}

.note-desc {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    margin-inline: 0.5rem;
    max-height: 30vh;
    overflow-y: auto;
}

.add-note {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-block: 0.5rem;
    height: fit-content;
    margin-inline: 1rem;
    padding-inline: 1rem;
}

.add-note-head {
    text-align: center;
}

.note-input {
    margin-block: 0.5rem;
    padding-block: 0.5rem;

    &>label {
        font-size: 110%;
    }

    &>input {
        height: 2rem;
        width: 100%;
        font-size: 105%;
    }

    &>textarea {
        height: 10rem;
        width: 100%;
        font-size: 110%;
        padding-inline: 5px;
        padding-block: 3px;
    }
}

.input {
    outline: 1px solid #ddd;
}

.input:focus {
    border: 1px solid rgb(195, 23, 23);
    background-color: #f5eded;
}

.note-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-note-button {
    display: inline-block;
    align-items: center;

    &:hover {
        background-color: #2023e6;
    }
}

.download-notes{
    padding-inline: 1rem;
    display: grid;
     place-items:end;
}
.download-notes button{
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
    font-size: 110%;
    cursor:pointer;
    background-color: #a7ba3a;
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255) ;
}
@media (max-width:700px) {
    .add-note {
        display: none;
    }

    .note-container {
        grid-template-columns: 1fr;
    }

}