.report-form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-inline: 20vw;
    height: 90dvh;
}

/* .report-form .report-side, */
.report-form .form {
    height: 70vh;
}

.report-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    text-align: center;
}

.report-side h2,
.report-side h4 {
    margin-block: 0.5rem;
}

.report-form .form {
    display: flex;
    padding-inline: 0.5rem;
    flex-direction: column;
    justify-content: space-around;
    padding-block-end: 1rem;
}

.report-input {
    margin-block: 0.5rem;
}

.report-input input,
.report-input select,
.report-input textarea {
    width: 90%;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    font-size: 110%;
    align-self: flex-end;
}

.report-input-button {
    display: flex;
    justify-content: center;
}

.report-input label {
    display: block;
}

.report-check {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
}

.report-check input {
    height: 1rem;
}

@media (min-width:700px) {
    .report-form .report-side{
        height: 70vh;
    }
}
@media (max-width:700px) {
    .report-form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: inherit;
    }
    .report-side{
        height: 30vh;
        margin: 0;
        /* padding: 0; */
    }
}