.user-image {
    width: 25%;
    border-radius: 3rem;
}

.profile {
    padding-inline: 5px;
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}

.user-details {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-data {
    padding-inline: 5px;
    margin-block-end: 5px;
    display: flex;   

    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--light-box-shadow);

    &>a {
        margin-block-end: 0.5rem;
        display: flex;
        justify-content: center;
    }
}

.profile-details {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.494);
    padding-block: 0.5rem;
    flex-wrap: wrap;
    align-items: center;

    &>.user-id {
        margin-inline-start: 1rem;

        &>.username {
            font-size: 150%;
            font-weight: bold;
        }
    }
}

.user-bio {
    padding-block: 0.5rem;
    padding-inline: 0.25rem;
}

.edit-profile {
    align-self: center;
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    color: #390101;
    cursor: pointer;
    background-color: #ddd;
    border: 2px solid #ff0000c9;
    border-radius: 8px;
    outline-offset: 2px;
    outline: 1px solid #ff2200;
}

.edit-profile:hover {
    background-color: #fff;
    color: #ff0000;
}

.conn-list {
    padding-block: 0.5rem;
padding-inline: 0.5rem;
    box-shadow: var(--light-box-shadow);

    &>.conn-head {
        margin-inline: 2rem;
        margin-block-end: 0.5rem;
        text-align: center;
        font-size: 1.25rem;
        border-bottom: 2px solid #10010167;
    }

    &>.contact-item {
        margin-block: 0.25rem;

        &>i {
            width: 1.5rem;
        }
    }
}

.contact-item a:hover,
.contact-item i:hover {
    color: #ae0303;
}


.track-chart {
width: 100%;
    height: 45vh;
}

.user-summary {
    margin-inline: 1rem;
    padding-inline: 1rem;
    width: 60vw;
    height: fit-content;
    &>.track{
    box-shadow: var(--light-box-shadow);
}
}

.user-summary .head {
    font-size: 1.25rem;
    margin-inline: 5%;
    padding-inline: 5%;
    margin-block: 0.25rem;
    display: inline-block;
    border-bottom: 2px solid #10010167;

}

@media( max-width:800px) {
    .profile{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user-details {
        width: 90%;
        padding-block-end: 1rem;
    }
    .user-summary{
        width: 100%;
    }
}