/* Home Styles*/

.main {
	background: url('../../../assets/1.jpg') no-repeat;
	background-size: cover;
	display: flex;
	height: 60dvh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;

	&>div {
		text-align: center;
		width: 100vw;
	}
}

.home-1 {
	font-size: 120%;
}

.home-2 {
	font-size: 200%;

}

.home-1 h3,
.home-2 h1 {
	color: #ddd;

	&:hover {
		color: #fff;
	}
}

.home-3 {
	margin-top: 2rem;

	&>a {
		cursor: pointer;
		background: linear-gradient(to right, #F00000 0%, #DC281E 51%, #F00000 100%);
		font-size: 1.25rem;
		border: 2px solid transparent;
		padding-inline: 4rem;
		padding-block: 1rem;
		color: #ddd;

	}
}



/* Features Styles */




.box {
	margin: 1%;
	display: grid;
	justify-content: center;
	grid-template-rows: repeat(6, 1fr);
}



.box-0 {
	width: 70vw;
	display: grid;
	grid-template-areas: "image info info";
	background-color: #07000012;
	margin: 1%;
	border-bottom-right-radius: 100px;
}


.box-1 {
	border-bottom-left-radius: 100px;
	width: 70vw;
	display: grid;
	grid-template-areas: "info info image";
	background-color: #07000012;
	margin: 1%;
}


.image {
	grid-area: image;
	width: 25vw;
	background-color: #fff;
	height: 100%;

	&>img {
		margin-inline: 0;
		width: 100%;
		height: 100%;
	}

	&>.image-0 {
		border-top-left-radius: 100px;
	}

	&>.image-1 {
		border-top-right-radius: 100px;
	}
}

.info {
	padding: 3%;

	&>p {
		margin: 2%;
	}

	&>h2 {
		font-size: x-large;
	}
}

.info-0 {
	text-align: left;
	border-bottom-right-radius: 100px;
	box-shadow: inset 0 0 0 2px #000000;
}

.info-1 {
	text-align: right;
	border-bottom-left-radius: 100px;
	box-shadow: inset 0 0 0 2px #000000;

}




/* Contacts Page Styles*/

.contact-box {
	background-color: #03030312;
	margin-inline: 8%;
	padding-block: 2%;
	padding-inline: 2%;
	border-radius: 10px;
	display: grid;
	margin-block-end: 2%;
	grid-template-columns: 1fr 1fr;
}

.contacts {
	/*			background-color: #fff;*/

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	&>h2 {
		font-family: cursive;
		margin-block-end: 3%;
		text-align: center;
	}

	&>p {
		padding-block: 3%;
		margin-block: 2%;
		margin-inline: 1%;
		padding-inline: 4%;
		border-bottom: 2px solid red;
	}
}

.ways {
	/*			background-color: #bbb;*/

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	box-shadow: inset 0 0 0 5px #fff;

	&>li img {
		width: 2rem;
	}

	&>li {
		background: -webkit-linear-gradient(#f3eeee, #ff4d4d);
		padding-inline: 10%;
		margin-inline: 2%;
		margin-block: 2%;
	}

}

.contact-form {
	padding: 1%;
	margin: 10%;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&>h3 {
		margin-block: 5%;
	}

	&>.btn {
		min-width: 8rem;
	}
}



/* Lower Box */

.lower {
	background-color: #000;
	color: #fff;
	padding: 1%;
	padding-block-end: 3%;
	display: grid;
	grid-template-areas:
		"lBrand lBrand lBrand form"
		"Linfo Linfo Linfo form"
		"contact contact contact form";

}

.lower-brand {
	margin-inline: 1%;
	grid-area: lBrand;
	margin-block-end: 1%;

	&>p {
		width: 30%;
	}
}

.lower-brand-item {
	display: flex;
	color: white;

	&>h2 {
		cursor: pointer;

		font-family: cursive;
	}
}

.Linfo {
	grid-area: Linfo;
	border-top: 0.5px solid #fff;
	padding-block: 2%;
	display: flex;
	justify-content: space-around;
}

.services {
	grid-area: services;
	width: 30%;
}

.lower-contact {
	grid-area: contact;

	&>ul {
		display: flex;
		flex-shrink: 2;

		&>li {
			width: 2rem;
			margin-inline: 1%;
			align-items: center;
		}

	}
}

.grid-fill {
	width: 30%;
	grid-area: third;
}

.lower-contact img {
	margin: 0;
	padding: 0;
	width: 100%;
}

.app-features {
	grid-area: features;
	width: 30%;

}

.Lform {
	grid-area: form;
	margin-block: 0%;
}



@media (max-width:900px) {

	.contact-box,
	.lower {
		display: flex;
		flex-direction: column;
	}

	.contact-box {
		margin-inline: 2%;
	}

}

@media (max-width:650px) {

	.box-0,
	.box-1 {
		margin-inline: 0;
		width: 90vw;
	}

	.info {
		font-size: 95%;
	}
}