.explore-box {
    display: flex;
    flex-direction: column;
    margin-inline: 8%;
    margin-block: 1%;
    padding-inline: 2%;
    padding-block: 1%;
    /* background-color: #00000012; */
    border-radius: 5px;
}

.explore-head {
    padding: 1%;
    margin-block-end: 5%;
}

.explore-head .first-span {
    font-size: 120%;
}

.explore-head h1,
.spot-head h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.spotlight,
.exp-evolved {
    margin-block-start: 1%;
    display: flex;
    flex-direction: column;
}

.exp-head {
    display: flex;
    padding-block-start: 2%;
    justify-content: space-between;

    &>button {
        background-color: #fffffff5;
        font-size: 100%;
        align-items: center;
        text-align: center;
        height: auto;
        padding-inline: 1%;
        border-radius: 50px;
        border: 0px solid #000;
        box-shadow: 2px 2px 5px #00000069;

        &:hover {
            box-shadow: 2px 2px 8px black;

        }

        &>a:hover {
            color: blue;
        }
    }
}

.spot-area {
    padding-block-start: 1%;
    display: flex;
    flex-wrap: wrap;
}

.spot {
    box-shadow: 0px 5px 15px 5px rgba(52, 47, 47, 0.5);
    border-radius: 10px;
    width: 300px;
    height: 20vh;
    margin: 2%;
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    border-radius: 15px;

}

.spot-info {
    color: #fff;
    padding: 4%;
    width: 80%;
    border-radius: 13px;
    grid-template-rows: 2fr 1fr;
    border-left: 5px solid #000;

}

.spot-title {
    text-align: start;
    font-size: 2rem;
    padding-block: 2%;
    font-weight: bolder;
}

.spot-desc {
    padding-block: 2%;
}

.spot-redir {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-end: 0.5rem;
    grid-area: redirect;

    &>a {

        font-size: 3rem;
        color: #ffffff;
    }
}

.evo-area {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

}

.evolve {

    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 2px solid #000;

    border-radius: 10px;
    box-shadow: 0px 5px 15px 5px rgba(52, 47, 47, 0.5);

}

.evolve-info {
    padding: 2%;
    height: 80%;
    color: #f6eded;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blank {
    font-size: 1.5rem;
    margin-block: 4%;
    align-items: center;
    text-align: center;

    &>a:hover {
        color: #000;
    }
}