.user-image {
    width: 25%;
    border-radius: 3rem;
}

.profile {
    margin-inline: 1rem;
    margin-block: 1rem;
    display: flex;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-data {
    width: 20rem;
    padding-inline: 1rem;
    margin-block-end: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: var(--light-box-shadow);

    &>a {
        margin-block-end: 0.5rem;
        display: flex;
        justify-content: center;
    }
}

.profile-details {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.494);
    padding-block: 0.5rem;
    flex-wrap: wrap;
    align-items: center;

    &>.user-id {
        margin-inline-start: 1rem;

        &>.username {
            font-size: 150%;
            font-weight: bold;
        }
    }
}

.user-bio {
    padding-block: 0.5rem;
    padding-inline: 0.25rem;
}

.edit-profile {
    align-self: center;
    width: 15rem;
    height: 2rem;
    font-size: 1rem;
    color: #390101;
    cursor: pointer;
    background-color: #ff000000;
    border: 2px solid #ff0000c9;
    border-radius: 8px;
    outline-offset: 2px;
    outline: 1px solid #ff2200;
}

.edit-profile:hover {
    background-color: #ff000045;
    color: #ff0000;
}

.conn-list {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    box-shadow: var(--light-box-shadow);

    &>.conn-head {
        margin-inline: 2rem;
        margin-block-end: 0.5rem;
        text-align: center;
        font-size: 1.25rem;
        border-bottom: 2px solid rgba(16, 1, 1, 0.403);
    }

    &>.contact-item {
        margin-block: 0.25rem;

        &>i {
            width: 1.5rem;
        }
    }
}
.contact-item a:hover,.contact-item i:hover {
    color: #ae0303;
}
.track-chart{
    width: 60vw;
    height: 50vh;
}