.trackers-head {
    max-width: 500px;
    padding-block: 0.5rem;
    margin-block: 1rem;
    margin-inline: 2%;
    padding-inline: 1rem;
    font-size: 2rem;
    box-shadow: 0 0 10px #c3b9b9;

}

.no-tracker {
    box-shadow: 0 0 10px #c3b9b9;
    border: 5px solid #e5a4a4;
    background-color: #473b3b;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;

    &>h1 {

        font-size: 3rem;
        font-style: oblique;
        text-shadow: 0px 1px 0px #c7c8ca,
            0px 2px 0px #b1b3b6,
            0px 3px 0px #9d9fa2,
            0px 4px 0px #8a8c8e,
            0px 5px 0px #77787b,
            0px 6px 0px #636466,
            0px 7px 0px #4d4d4f,
            0px 8px 7px #001135;
        ;
        color: #977d7d;
    }

    /* height:500px; */
}

.graphs {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 3%;
}

.trackers {
    
    width: fit-content;
    min-width: 30rem;
    padding-block: 0.5rem;
    margin-block: 1rem;
    margin-inline: 2%;
    padding-inline: 1rem;
    height: fit-content;
    box-shadow: 0 0 10px #c3b9b9;
}

.track-forms {
    min-width: 15rem;

}
.tracker {
    width: 50vw;
    height: 50vh;
    margin-block: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 2rem;
    border: 1px solid black;
}

.chartAction {
    padding-block:0.5rem;
    margin-block-end: 3px;
    margin-inline: 1rem;
    padding-inline: 1rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 5px #928686;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    &>button {
        font-size: 1rem;
        width: 5rem;
        height: 2rem;
        padding-inline: 3;
        cursor: pointer;
    }
}

.delete-graph {
    border: 1px solid #f72323b9;
    box-shadow: 0 0px 5px #ff1111fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &>a {
        color: #ac2e2e;
    }

    &:hover {
        background-color: #ffb0b0;
        color: #a40e0e;

    }
}

.add-data {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #97f70f;
    background-color: #83f35d5c;
    box-shadow: 0 0px 5px rgba(180, 255, 17, 0.988);
    cursor: pointer;

    &>a {
        color: #253213;

    }

    &:hover {
        background-color: #42ff037a;
        color: #395d07;
    }
}

.track-forms form {
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2%;


    &>button {
        color: #517322;

        height: 2rem;
        font-size: 1rem;
    }
}

.add-chart {
    font-size: large;
}

.chart {
    margin-block: 0.5rem;

    &>label {
        cursor: pointer;
    }
}

.chart-name,
.chart-value {
    width: 100%;
    height: 2rem;
    font-size: medium;
    align-items: center;

}

.data-input {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    padding-inline-start: 0.5rem;
    border: 1px solid #97f70f;
    background-color: #83f35d5c;
    box-shadow: 0 0px 5px rgba(180, 255, 17, 0.988);

    &:focus {
        background-color: #4ef9155c;
    }
}