/* Home Styles*/

.main{
	background: url('../../assets/1.jpg') no-repeat  ;	
	background-size:100vw;
	display: flex;
	height: 60vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	&>div{
		text-align: center;
		width: 100vw;
	}
}
.home-1{
	font-size: 120%;
}
.home-2{
	font-size: 200%;

}
.home-1 h3 , .home-2 h1{
	color: #ddd;
		&:hover{
			color: #fff;
		}
	}

.home-3{
	&>button{
		cursor: pointer;
	    background-image: linear-gradient(to right, #F00000 0%, #DC281E  51%, #F00000  100%);
		font-size: 125%;
		border:2px solid transparent;  
		height:150%;
		width: 15vw;
		&>a{
			color: #ddd;
			&:hover{
				color:#fff;
			}
		}
	}
}

         
         
/* Features Styles */

.head{
	margin-block:3% ;
	margin-inline: 2%;
	font-size: 140%;
	display: flex;

}
.dash{width: 10vw;
margin-inline-end: 10px;
		display: flex;
			justify-content: center;
			align-items: center;

}
.line{
	grid-area: line;
	width: 10vw;
	border:2px solid #000000;
	margin-inline: 2px;

  background: -webkit-linear-gradient(#090808, #f50303);
  -webkit-background-clip: border;
  -webkit-text-fill-color: transparent;transform: skewX(-20deg);


}

.dots{
	align-items: center;
/*	margin-top: 2%;*/
	display: grid;
	grid-template-columns:repeat(2, 1fr) ;
	justify-content: center;


}


.dot{
	transform: skewX(-20deg);
	width: 5px;
		border:2px solid #000000;
		border-radius: 100%;
		margin-inline: 2px;
}
.heading{
	font-size: -webkit-xxx-large;
font-variant-caps: all-petite-caps;

  background: -webkit-linear-gradient(#090808 40%, #f50303 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: skewX(-20deg)

}



.box{
	margin: 1%;
	display: grid; 
	justify-content: center;
	grid-template-rows: repeat(6, 1fr);
}



.box-0{
	width: 70vw;
	display: grid;
	grid-template-areas: "image info info";
	background-color: #07000012;
	margin: 1%;
 	border-bottom-right-radius: 100px;
}


.box-1{
    border-bottom-left-radius: 100px;
  width: 70vw;
  display: grid;
  grid-template-areas: "info info image";
  background-color: #07000012;
  margin: 1%;
}

	
.image{ 
	grid-area :image;
		width: 25vw;
		background-color: #fff;
		height: 100%;
		&>img{
			margin-inline: 0;
			width: 100%;
			height: 100%;
		}
		&>.image-0{
			border-top-left-radius: 100px;
		}
		&>.image-1{
			border-top-right-radius: 100px;
		}
	}
 
 .info{ 
		padding: 3%;
		&>p{
			margin: 2%;
		}
		&>h2{
			font-size: x-large;
		}
}

.info-0{
			text-align: left;
  border-bottom-right-radius: 100px;
  box-shadow: inset 0 0 0 2px #000000;
}

.info-1{	
		text-align: right;
  border-bottom-left-radius: 100px;
    box-shadow: inset 0 0 0 2px #000000;

}