:root{
  margin: 0;
  padding: 0;
  --light-box-shadow:0 0 10px #342b2b;
  --dark-text-lt:#000000e0;
}
.light-text{
  color:#330000d9;
}
.dark-text{
  color:#000000f2;
}
.bold{
  font-weight: 600;
}
.error-text{
  color: #ff1a1a;
}

*{
  font-family: Calibri,Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
a{
  color:#030300d6;
    font-size: 110%;
    align-items: center;
  text-decoration: none;
}
.active{
  border-bottom:  2px solid red;
  color: #020000;
}

  @media (max-width:650px){
   
    .navbar{
      height:10vh;
      font-size: 95%;
    }
    .main{
        background-size:100vh;
      height: 43vh;
/*      font-size: 120%;*/
    }
    .home-1{
      font-size: 110%;
    }
    .home-2{
      font-size: 350%;
    }
    .home-3 button{
        width: 20%;
        font-size: 120%;
    }
    .box-1 .info{
      margin-block: 0;
      font-size:125% ;
    }
  
    .evo-area{
      justify-content: center;
    }
  }



