* {
  font-family: Calibri, Verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  align-items: center;
  --light-box-shadow: 2px 2px 5px #8b0e0ecb;
  --3d-text: 0px 1px 0px #c7c8ca,
    0px 2px 0px #b1b3b6,
    0px 3px 0px #9d9fa2,
    0px 4px 0px #8a8c8e,
    0px 5px 0px #77787b,
    0px 6px 0px #636466,
    0px 7px 0px #4d4d4f,
    0px 8px 7px #001135;
}

.light-text-light {
  color: #330000d9;
}

.dark-text-light {
  color: #101010;
}

.light-text-dark {
  color: #c4c4c4;
}

.dark-text-dark {
  color: #f6f4f4;
}

.bg-lighter {
  background-color: #fff;
}

.bg-light {
  background-color: #ead9d9;
}

.bg-darker {
  background-color: #212020;
}

.bg-dark {
  background-color: #454545;
}

.bold {
  font-weight: 600;
}

.error-text {
  color: #ff1a1a;
}

.large-text {
  font-size: 1.5rem;
}
.mid-text{
  font-size: 110%;
}

.fa,
.fa-solid {
  align-items: center;

}

a {
  color: #030300d6;
  /* font-size: 110%; */
  align-items: center;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid red;
}



.add-button {
  cursor: pointer;
  align-self: flex-start;
  text-align: center;
  line-height: 3rem;
  width: 8rem;
  height: 3rem;
  margin-inline-start: 1rem;
  margin-block-start: 1rem;
  background-color: #8a2be2;
  font-size: 1.25rem;
  color: #fff;
}

.input-container {
  display: flex;
  width: 80%;
  margin-bottom: 15px;

}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #fff;
  color: #000;
  min-width: 50px;
  border: 0.5px solid #766767;
  border-right: 0;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 110%;
  font-family: ui-serif;


}


.input-field:focus {
  border: 2px solid #27ee06;
}

.btn {
  background-color: dodgerblue;
  color: #000;
  padding: 10px 20px;
  margin-bottom: 5%;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
  background: -webkit-linear-gradient(#f3eeee, #ff4d4d);
  font-size: 120%;
  font-weight: bolder;
}

.btn:hover {
  opacity: 1;
}

.comp-head {
  color: var(--dark-text-lt);
  align-items: center;
  /* max-width: 500px; */
  padding-block: 0.5rem;

  padding-inline: 1rem;
  font-size: 2rem;
  box-shadow: var(--light-box-shadow);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.comp-head-outer {
  padding: 2%;
}

.plus-button {
  display: none;
  padding-bottom: 0%;

  &>i {
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #fff;
    box-shadow: var(--light-box-shadow);
    border-radius: 50px;
    background-color: #1668e3;
    padding: 10px;
  }
}


/* Head styles */

.head {
  margin-block: 1rem;
  margin-inline: 2%;
  font-size: 140%;
  display: flex;

}

.dash {
  width: 10vw;
  margin-inline-end: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.line {
  grid-area: line;
  width: 10vw;
  margin-inline: 2px;
  -webkit-text-fill-color: transparent;


}

.dots {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;


}

.dot {
  width: 5px;
  border-radius: 100%;
  margin-inline: 2px;
}

.dot-dark {
  border: 2px solid #fff;
}

.dot-light {
  border: 2px solid #000000;
}
.heading-light{
  background: linear-gradient(#090808 40%, #f50303 67%);
}
.heading-dark{
  background: linear-gradient(#f0f0f0 40%, #f50303 67%);
}
.heading {
  font-size: -webkit-xxx-large;
  font-variant-caps: all-petite-caps;
  font-style: oblique;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


@media (max-width:700px) {
  main {
    font-size: 95%;
  }

  .comp-head {
    max-width: 100vw;
  }

  .plus-button {
    display: inline-block;

  }

  .navbar {
    height: 10vh;
    font-size: 95%;
  }

  .evo-area {
    justify-content: center;
  }

  .add-form {
    margin-inline: 0;
    position: fixed;
    top: 25vh;
    z-index: 4;
    width: 90vw;
    left: 5vw;
    background-color: #dfdfdf;
    height: fit-content;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .rotate {
    rotate: 45deg;
  }

}